@layer base {
  body,
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --tw-text-opacity: 1;
    line-height: 1.5;
    @apply text-body bg-bodyBg;
  }
  body{
    @apply text-xs;
  }
  
  a {
    @apply text-anchorLink hover:text-anchorLink;
  }
  
  h1 {
    @apply text-xs font-bold lg:text-3xl lg:font-normal;
  }
  
  h2 {
    @apply text-xs font-bold lg:text-3xl lg:font-normal;
  }
  
  h3 {
    @apply text-xs font-bold lg:text-3xl lg:font-normal;
  }
  
  h4,
  h5,
  h6 {
    @apply text-xs font-bold lg:text-3xl lg:font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  iframe {
    @apply mb-6;
  }

  iframe {
    width: 100%;
  }

  ul,
  ol {
    @apply mb-5 ml-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-2;
  }
  button[type="button"],button[type="submit"] {
    @apply cursor-pointer;
  }
}
