 /* google maps */
#locations-map,#single-location-map {
    height: 512px;
    width: 100%;
}
.location-marker {
    @apply w-7 h-7 bg-primary text-white rounded-full;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;

    &:after{
        border: 10px solid transparent;
        @apply border-t-[17px] border-t-primary;
        content: "";
        height: 0;
        left: 4px;
        position: absolute;
        width: 0;
        top: calc(100% - 4px );
        z-index: -1;
    }

    .location-info {
        @apply hidden;
    }
}
.location-marker.highlight {
    .location-info {
        @apply flex;
    }
}
