/* Checkout Styles */
body.woocommerce-checkout {
    /* Inputs for Safari must be 16px or larger for mobile devices. */
    @media screen and (max-width: 1024px) {
        input {
            font-size: 1rem !important;
        }
    }

    /* Checkout Button */
    button[type='submit']#place_order {
        @apply !w-full !text-center;
    }

    .vehicle-extra-options-desc {
        a {
            @apply whitespace-nowrap;
        }
    }
}

.checkout-switch-input-wrapper {
    @apply bg-gray-300;
}
.checkout-switch-input-wrapper.checked {
    @apply bg-primary;
    .checkout-switch-input-inner {
        @apply translate-x-[22px];
    }
}

/* Checkout Styles */
body.woocommerce-checkout {
    main {
        @apply pt-12 lg:pt-0;
    }

    .woocommerce-form.woocommerce-form-login.login {
        @apply pt-4;
    }

    /* Notices */
    .woocommerce-notices-wrapper {
        @apply !ht-container-large;
    }
    /* Notice */
    .woocommerce-NoticeGroup {
        @apply md:col-span-5;
    }

    td.product-total {
        text-align: end;
    }

    /* Customer Details */
    #customer_details {
        /* form inputs */
        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            @apply grid grid-cols-1 md:grid-cols-4 md:gap-x-5;

            input {
                @apply theme-input;
            }

            label {
                @apply theme-input-label;
            }

            p.form-row {
                @apply theme-input-form-row;
            }

            /* wrapper's with inputs type="hidden" */
            .woocommerce-input-wrapper > strong {
                @apply !relative !top-4;
            }
        }
    }
    .checkout-inline-error-message {
        color: red;
        margin-bottom: 0;
        margin-top: 2px;
        position: absolute;
    }
    /* Create account */
    .create-account {
        label {
            @apply !text-xs !font-semibold;
        }
        input[type='password'] {
            @apply theme-input;
        }
    }

    /* Order Comments */
    #order_comments_field {
        label {
            @apply hidden;
        }
    }
    #order_comments {
        @apply border-primary w-full border bg-slate-50 p-4 text-base font-semibold outline-none placeholder:text-sm placeholder:font-normal xl:h-64;
    }

    /* Order Review */
    .woocommerce-checkout-review-order-table {
        tfoot {
            @apply !flex !flex-col !pb-4;
            tr {
                @apply !flex !justify-between !pt-2 !pb-2;
                td,
                th {
                    @apply text-xs text-body uppercase;
                }
                th{
                    @apply font-bold;
                }
            }
        }
    }

    /* Payment Methods */
    #payment {
        .wc_payment_methods {
            li {
                @apply block border-b border-[#B6B6B6] py-3;

                label{
                    @apply ml-3 relative -top-0.5 text-xs text-body uppercase;
                }

                p {
                    @apply mt-3 mb-0 text-xs font-normal;
                }

                img {
                    @apply hidden;
                }
            }
        }

        /* Terms and Conditions */
        .woocommerce-terms-and-conditions-wrapper {
            input {
                @apply shrink-0;
            }
            @apply my-6 grid grid-cols-1 items-center text-xs;
            p.form-row:last-child {
                @apply !mb-0;
            }
            label {
                @apply flex pl-0 text-xs;
                span {
                    @apply pl-2;
                }
            }
            abbr.required {
                @apply hidden;
            }
        }
    }

    /* Checkout Button */
    button[type='submit']#place_order {
        @apply !btn-md !btn-solid-primary;
    }
}
